.header {
    /* display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    width: 100%; */
    height: 80ph;
    width: 100%;
    box-shadow: 0 1px 2px #bbb;

}
.header__icon{
    object-fit: contain;
    height: 100px;
    margin-left: 50px;
}
/* .header__middle{
    display: flex;
    flex: 1;
    align-items: center;
} */
.header__right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 15vw;
    margin-right: 80px;
    margin-top: 5px;
    position:absolute;
    top: 10px;
    right: 0;
    width: 20%;

}
.profile__icon{
    /* display: flex;
    margin-right: 80px;
    width: 20px;
    height: 20px; */
    position:absolute;
   top:0;
   right:0;
}

.drop{

    /* 让它靠右 */

    float: right;

    /* 设置行高 */

    line-height: 40px;

    /* 设置宽 */

    width: 80px;

    /* 设置背景色 */

    background: #fff;

    /* 设置水平居中 */

    text-align: center;

    /* 右边距 */

    margin-right: 10px;



    }



    .droplist{

    /* 给下拉菜单阴影 */

    box-shadow:0 1px 2px #bbb;

    /* 把它隐藏起来 */

    display: none;

    }

    /* 鼠标移到上方时显示 */

    .drop:hover .droplist{

    display: block;

    }

    /* 我们修改一下超链接样式 */

    .droplist a{

    color: #000;

    /* 去掉下划线 */

    text-decoration: none;

    /* 改变超链接不可调宽高的显示状态 */

    display: block;

    }

    /* 超链接要鼠标悬停的时候变色 */

    .droplist a:hover{

    background: #bbb;

    }
