 /* .header {
    display: flex;
    justify-content: space-between;

    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    width: 100%;
}
.header__icon{
    object-fit: contain;
    height: 50px;
    margin-left: 50px;
}
.header__middle{
    display: flex;
    flex: 1;
    align-items: center;
}
.header__right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15vw;
    margin-right: 80px;
}
.profile__icon{
    display: flex;
    margin-right: 80px;
    width: 20px;
    height: 20px;
} */
