.reviewspot__container{
    margin-bottom: 10px;
}




#reviewowner{
    font-size: 16px;
    line-height: 20px;
    color: #222222;
    font-weight: 600;
}

#reviewdate{
    font-size: 14px;
    line-height: 20px;
    color: #717171;
    font-weight: 400;
}

#reviewcontent{
    margin-top: 1em;
    font-size: 16px;
    line-height: 24px;
    color: #222222;
    font-weight: 400;
}

#userreview-container{
    display: flex;
    /* height: 80vh; */
    /* flex-wrap: wrap; */
    flex-direction: column;
    justify-content: space-between, first baseline;
    row-gap: 5vh;
    width: 85%;
    height: auto;
    padding-left: 20vh;
    /* padding-right: 10vh; */
    margin: auto;
    margin-top: 50px;
    vertical-align: top;
    margin-bottom: 50px;
}

.reviewlist__container{

}

.reviewlist__noreview{
    margin-top: 10px;
    margin-bottom: 5px;

}

.reviewlist__delbtn{
    border: none;
    background-color: #df1760;
    color: white;
    margin-top: 15px;
    border-radius: 20px;
    cursor: pointer;
}
