.reviewspot__container{
    margin-bottom: 10px;
}


.reviewlist__container{
    width:500px;
    height: 70px;
    /* background: #eee; */
    /* border-radius: 10px; */
    margin: 100px auto;
    margin-left: 100px;
    /* border: 1px solid; */border-bottom: 2px solid silver;
    border-top: 2px solid silver;
    font-size: large;
}

#reviewowner{
    font-size: 16px;
    line-height: 20px;
    color: #222222;
    font-weight: 600;
}

#reviewdate{
    font-size: 14px;
    line-height: 20px;
    color: #717171;
    font-weight: 400;
}

#reviewcontent{
    margin-top: 1em;
    font-size: 16px;
    line-height: 24px;
    color: #222222;
    font-weight: 400;
}

.reviewlist__noreview{
    margin-top: 10px;
    margin-bottom: 5px;

}

.reviewlist__delbtn{
    margin-top: 15px;
    border-radius: 20px;
}
