.create_review_div{
    padding-left: 25%;
    padding-right: 25%;
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
}

.create_review_header{
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    margin-bottom: 15px;
}

.create_reviewcontent{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 500px;
    height: 100px;
}

.edit_reviewcontent{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 400px;
    height: 100px;
}

.create_review_reviewby_text{
    font-size: 13px;
    font-weight: 500;
    line-height: 13px;
    margin-bottom: 15px;
}

.create_review_error{
    margin-bottom: 20px;
}

.create_review_errortext{
    color: #df1760;
    line-height: 15px;
    font-size: 13px;
    font-weight: 500;
}

.createreviewBtn{
    border:none;
    color: white;
    background-color:  #df1760;
    border-radius: 10px;
    font-weight: bold;
    margin-bottom: 5vh;
    margin-top: 5vh;
    padding: 10px;
    cursor: pointer;
    width: 20em;
}

.reviewCreateform{
    /* margin-top: 5vh; */
    margin-bottom: 5vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;

}

#createreviewtext{
    height: 8em;
    margin-bottom: 10px;
    width: 20em;
    border: 1px solid #717171;
    border-radius: 8px;
}

#createreviewrating{
    width: 20em;
    height: 3em;
    margin-bottom: 10px;
    border: 1px solid #717171;
    border-radius: 8px;
}

.reviewCreateform button{
    width: 20em;
    border: 1px solid #717171;
    border-radius: 8px;
}

#reviewcreateerror{
    display: flex;
    text-align: center;
    padding: 2px;
    justify-content: center;
    align-items: center;
    line-height: 5px;
    height: 5px;
    height: fit-content;
    width: max-content;
    /* float: left; */

    margin-bottom: 30px;

    /* font-size: 11px; */
    /* margin-left: 5px; */
   }

   #reviewcreateerror li{
    color: #df1760;
    font-size: 16px;
   }

#reviewcreateBtn{
    height: 3em;
    border: none;
    background-color: #df1760;
    color:white;
    cursor: pointer;
    margin-bottom: 10px;
}

#reviewcreateBtn:disabled{
    cursor:not-allowed
}

#reviewcancelBtn{
    height: 3em;
    border: none;
    background-color: #df1760;
    color:white;
    cursor: pointer;
    margin-bottom: 10px;
}
