
  .login__container {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 10%;
    left: 50%;
    border-radius: 20px;

    /* background-color: aquamarine; */
  }
.login__head{
  display: flex;
  justify-content: center;
  margin-top: 10px;
  line-height: 14px;
  height: 14px;

}

 .loginform {
    background: white;
    padding: 3em;
    /* height: 5px; */
    border-radius: 20px;
    border-left: 1px solid white;
    border-top: 1px solid white;
    /* backdrop-filter: blur(10px); */
    box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
    text-align: center;
    /* position: relative; */
    /* transition: all 0.2s ease-in-out; */
  }

  .logininput  {
    background: transparent;
    width: 200px;
    padding: 1em;
    margin-bottom: 2em;
    border: none;
    border-left: 1px solid white;
    border-top: 1px solid white;
    border-radius: 5000px;
    backdrop-filter: blur(5px);
    box-shadow: 4px 4px 60px rgba(0,0,0,0.2);
    color: black;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  }

 .loginerror{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  line-height: 10px;
  height: fit-content;
  width: max-content;
  /* float: left; */
  margin-bottom: 20px;
  /* font-size: 11px; */
  /* margin-left: 5px; */
 }

  .loginbutton{

        margin-top: 10px;
        width: 150px;
        font-size: 1rem;
  }

  ::placeholder {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    color: rgb(50, 50, 104);
    text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
  }

  .login__demouser{
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
