#footer_wrapper{
    display: flex;
    flex-direction: row;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    height: 8vh;
    justify-content: space-around;
    align-items: center;
    /* background-color: #F6F7F8; */
    z-index: auto;
    
}

#footer__text{
    font-size: medium;
    font-weight: bold;
    /* background-color: #F6F7F8; */
}

#footer__contact{
    display: flex;
    width: 28%;
    justify-content: space-between;
    align-items: center;
    /* background-color: #F6F7F8; */
}

#footer__contact a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    /* background-color: #F6F7F8; */
}

#footer__des{
    font-size: medium;
    font-weight: bold;
    /* background-color: #F6F7F8; */
}

#footer__contact a span{
    font-size: 16px;
    margin-left: 3px;
    /* background-color: #F6F7F8; */

}

.footer__logo{
    width: 35px;
    height: 35px;
    /* background-color: #F6F7F8; */
}
