
  .signup__container {
    /* position: absolute;
    transform: translate(-50%,-50%);
    top: 10%;
    left: 50%;
    border-radius: 20px;
    overflow: hidden;
    background-color: aquamarine; */
  }

.signup__head{
  display: flex;
  justify-content: center;
  margin-top: 10px;
  line-height: 14px;
  height: 14px;

}

 .signupform {
    background: white;
    padding: 3em;
    /* height: 5px; */
    border-radius: 20px;
    border-left: 1px solid white;
    border-top: 1px solid white;
    /* backdrop-filter: blur(10px); */
    box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
    text-align: center;
    /* position: relative; */
    /* transition: all 0.2s ease-in-out; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    outline: none;
  }

  .signupinput  {
    background: transparent;
    width: 360px;
    line-height: 20px;
    padding: 1em;
    margin-bottom: 1em;
    border: none;
    border-left: 1px solid white;
    border-top: 1px solid white;
    border-radius: 8px;
    backdrop-filter: blur(5px);
    box-shadow: 4px 4px 60px rgba(0,0,0,0.2);
    color: black;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    margin-top: 2px;
    transition: all 0.2s ease-in-out;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  }

 #signuperror{
  display: flex;
  text-align: center;
  padding: 2px;
  justify-content: center;
  align-items: center;
  line-height: 5px;
  height: 5px;
  height: fit-content;
  width: max-content;
  /* float: left; */

  margin-bottom: 30px;

  /* font-size: 11px; */
  /* margin-left: 5px; */
 }

 #signuperror li{
  color: #df1760;
  font-size: 12px;
 }

  .signupbutton{

    margin-top: 10px;
    width: 360px;
    /* line-height: 20px; */
    height: 40px;
    font-size: 1rem;
    background-color: #df1760;
    color: white;
    border-radius: 8px;
  }

  ::placeholder {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    color: rgb(50, 50, 104);
    text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
  }


/*

.user {
    width: 90%;
    max-width: 340px;
    margin: 10vh auto;
}

.user__header {
    text-align: center;
    opacity: 0;
    transform: translate3d(0, 500px, 0);
    animation: arrive 500ms ease-in-out 0.7s forwards;
}

.user__title {
    font-size: 14px;
    margin-bottom: -10px;
    font-weight: 500;
    color: white;
}

.form {
    margin-top: 40px;
    border-radius: 6px;
    overflow: hidden;
    opacity: 0;
    transform: translate3d(0, 500px, 0);
    animation: arrive 500ms ease-in-out 0.9s forwards;
}

.form--no {
    animation: NO 1s ease-in-out;
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.form__input {
    display: block;
    width: 90%;
    padding: 20px;
    font-family: "Roboto";
    -webkit-appearance: none;
    border: 0;
    outline: 0;
    transition: 0.3s;
}



.btn {
    display: block;
    width: 100%;
    padding: 20px;
    font-family: "Roboto";
    -webkit-appearance: none;
    outline: 0;
    border: 0;
    color: white;
    background: red;
    transition: 0.3s;
}

:hover {
    background: darken(red, 5%);
}

 */
