
  .signup__container {
    /* position: absolute;
    transform: translate(-50%,-50%);
    top: 10%;
    left: 50%;
    border-radius: 20px;
    overflow: hidden;
    background-color: aquamarine; */
  }

.signup__head{
  display: flex;
  /* justify-content: center; */
  margin-top: 15px;
  margin-left: 40px;
  line-height: 26px;
  font-weight: 600;
  font-size: 22px;
  color: #222222;

}

 .signupform {
    background: white;
    padding: 3em;

    border-radius: 8px;

    /* text-align: center; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    outline: none;


  }

  .signupinput  {
    background: transparent;
    width: 360px;
    line-height: 20px;
    padding: 1em;
    margin-bottom: 1em;
    border: 1px solid gray;
    height: 50px;
    /* border-left: 1px solid white;
    border-top: 1px solid white; */
    border-radius: 8px;
    backdrop-filter: blur(5px);
    /* box-shadow: 4px 4px 60px rgba(0,0,0,0.2); */
    color: black;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    margin-top: 2px;
    transition: all 0.2s ease-in-out;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  }

 #signuperror{
  display: flex;
  text-align: center;
  padding: 2px;
  justify-content: center;
  align-items: center;
  line-height: 5px;
  height: 5px;
  height: fit-content;
  width: max-content;
  /* float: left; */

  /* margin-bottom: 20px; */

  /* font-size: 11px; */
  /* margin-left: 5px; */
 }

 #signuperror li{
  color: #df1760;
  font-size: 12px;
 }

  .signupbutton{

    margin-top: 10px;
    width: 360px;
    /* line-height: 20px; */
    height: 50px;
    font-size: 1rem;
    background-color: #df1760;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    border: none;
  }

  ::placeholder {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    color: rgb(50, 50, 104);
    text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
  }

.signup-top{
  display: flex;
  padding: 20px 20px 20px 20px;
  border-bottom: 1px solid rgba(128,128,128,0.2);
  align-items: center;
}


.signup-top-x{
  /* position: fixed; */
  cursor: pointer;
  /* padding: 5px; */
  width: 20px;
  height: 20px;
  border-radius: 500px;
}

.signup-top-x:hover{
background-color: rgba(128, 128, 128 ,0.3);

}

.signup-top-text{
  margin-left: 37%;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  color: #222222;
}

.signup-input-div{
  display: flex;
  flex-direction: column;
}

.signuplabel{
  display: none;
}
.signuplabel:hover{
visibility: visible;
}

.signupinput1{
  padding: 5px;
  border: none;
  outline: none;
}
.signupform-div-fn{
  display: flex;
  flex-direction: column;
  padding: 5px;
  border-left: 0.5px solid rgba(0, 0, 0, 0.5);
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
  border-right: 0.5px solid rgba(0, 0, 0, 0.5);

}

.signupform-div-bottom{
  display: flex;
  flex-direction: column;
  padding: 5px;
  border-left: 0.5px solid rgba(0, 0, 0, 0.5);
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
  border-right: 0.5px solid rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-bottom: 20px;
  z-index: 1;
}

.signupinput2{
  padding: 5px;
  border: none;
  outline: none;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  /* width: 80%; */
}

.signupform-label{
  padding-left: 5px;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #717171;
}
