.spotform__container {
    /* position: absolute; */
    /* transform: translate(-50%,-50%); */
    /* top: 10%;
    left: 50%;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 10%; */
    display: flex;
    flex-direction: row;
    /* background-color: aquamarine; */
  }

.leftspotform{
    flex-direction: column !important;
    width: 50% !important;
    height: 100vh !important;
    max-height: 100% !important;
    position: relative !important;
    float:left;
    justify-content: center !important;
    background: linear-gradient(#e66465, #9198e5);

}

.spotform__head{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: x-large;
    margin-top: 300px;
    background: none;
    z-index: 0;
}

.spotform__head {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50%;
 color: white;
 line-height: 20px;
 height: 20px;
}

.rightspotform{
    flex-direction: column !important;
    width: 50% !important;
    height: 100vh !important;
    max-height: 100%;
    float: right;
    position: relative
}


.spotform__head{
  display: flex;
  justify-content: center;
  margin-top: 10px;
  line-height: 14px;
  height: 14px;

}

 .spotform__info {
    background: white;
    padding: 3em;
    /* height: 5px; */
    margin-right: 50%;
    float:right;
    width:30%;
    border-radius: 20px;
    border-left: 1px solid white;
    border-top: 1px solid white;
    /* backdrop-filter: blur(10px); */
    /* box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2); */
    text-align: center;
    /* position: relative; */
    /* transition: all 0.2s ease-in-out; */
  }

  .spotforminput  {
    background: transparent;
    width: 400px;
    padding: 1em;
    margin-bottom: 2em;
    border: none;
    border-left: 1px solid white;
    border-top: 1px solid white;
    border-radius: 5000px;
    backdrop-filter: blur(5px);
    box-shadow: 4px 4px 60px rgba(0,0,0,0.2);
    color: black;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  }

 .spotformerror{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  line-height: 10px;
  height: fit-content;
  width: max-content;
  /* float: left; */
  margin-bottom: 20px;
  /* font-size: 11px; */
  /* margin-left: 5px; */
 }

  .spotformbutton{
        display: flex;
        flex-direction: row;
        margin-top: 10px;
        width: 400px;
        font-size: 1rem;
        justify-content: center;
        align-items: center;


  }

.spotformbutton__btn{
  display: flex;
  background-color: #e66465;
  color: aliceblue;
  border: none;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  margin-right: 5%;
  font-size: large;
}

  ::placeholder {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    color: rgb(50, 50, 104);
    text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
  }
