

.spotdetail__wrapper{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px; */
    width: 85%;
    margin: auto;
    margin-top: 90px;

}

.spotdetail__head{
    width: 100%;
    margin: 0 15%;
    width: 70%;
    display: flex;
    flex-direction: column;
}
.spotdetail__head1{
    font-size: 26px;
    font-weight: 600;
    font-style: normal;
    height: 30px;
    color: #222222;
    margin-bottom: 1em;

}

.spotdetail__head2 {
    display: flex;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    height: 20px;
    color: #222222;

}
#sd__image__container{
    height:30em;
    margin-bottom: 10em;
}

.sd__footerline2{
    /* margin: 0 5px 0 5px; */
}

.sd__footerspace{
    margin-left: 5px;
    margin-right: 5px;
}



#spotdetail__body{
    margin: 40px 15%;
    display: flex;

}

#spotdetail__leftbody{
    width: 60%;
    display: flex;
    flex-direction: column;
}





#spotdes{
    padding-top: 2em;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #222222;

}

#spotdetail__rightbody{
    width: 40%;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

#sd-bookingbox{
    /* width: 80%; */
    /* height: 400px; */
    /* top:20px; */
    height: fit-content;
    /* height: 470px; */
    padding: 2em;
    border: 1px solid #dddddd;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 5px 8px 20px -6px rgba(0,0,0,0.2);
    position: sticky;
    top: 128px;
    right:0;
    /* z-index: 0; */
}

#sd-boxhead{
     display: flex;
     justify-content: space-between;
     align-items: baseline;
     margin-bottom: 24px;
}

#sd-bookingprice{
    font-size: 22px;
    font-weight: 600;
    line-height: 26px;
    color: #222222;
    margin-right: 3px;
}

#sd-bookingnight{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #222222;
}

#sd-boxrating{
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    color: #222222;
    margin-left: 5px;
}

#sd-boxreviews{
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    color: #717171;
}

.fee-container{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 1em;
}

.fee-containertotal{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 3em;
    border-top: 1px solid #dddddd;
    padding-top: 3em;
}

.fee-containertext{
    font-weight: 400;
    line-height: 20px;
    font-size: 16px;
    color: #222222;
}

.fee-containertotaltext{
    font-weight: 600;
    line-height: 20px;
    font-size: 16px;
    color: #222222;
}

.sd__review__container{
    margin: 0 15% ;
    margin-top: 7%;
    width: 70%;
    border-top: solid #f7f7f7;
    margin-bottom: 7%;

}

#sd__ratinghead{
    display: flex;
    flex-direction: row;
    margin-top: 40px;

}

#spotreviewRating{
    position: relative;
    font-weight: 600;
    line-height: 26px;
    font-size: 22px;
    margin-bottom: 1em;
    font-family: Circular, -apple-system, BlinkMacSystemFont,  Roboto,   'Helvetica Neue', sans-serif;
}


.sd__image__container{
    display: flex;
    margin: 0, 15%;
    margin-bottom: 20px;
    /* height: 70%; */
}

.sd__image__left{
    width: 42.5%;
    /* height: max-content; */
    height: 45vh;
    display: flex;
    justify-content: flex-end;
}
.spot-image1{
    /* border-radius: 20px; */
    /* margin: 0 15%; */
    width:65%;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
    /* height: 38em; */
    object-fit: cover;

}

.sd__image__right{
    width: 42.5%;
    height: 45vh;
    display: grid;
    padding-left: 10px;
    /* grid-template-columns: 1fr 1fr; */
    gap: 10px;
    grid-template-areas:
    "spot-image2 spot-image4"
    "spot-image3 spot-image5";
}

.spot-image2{
    width: 100%;
    height: 22vh;
    grid-area: spot-image2;
}

.spot-image3{
    width: 100%;
    height: 22vh;
    grid-area: spot-image3;
}

.spot-image4{
    width: 100%;
    height: 22vh;
    border-top-right-radius: 13px;
    grid-area: spot-image4;
}

.spot-image5{
    width: 100%;
    height: 22vh;
    border-bottom-right-radius: 13px;
    grid-area: spot-image5;
}

.sd-container1{
    display: flex;
    border-bottom: 1px solid #dddddd;
}

#hosted{
    font-size: 22px;
    line-height: 26px;
    color: #222222;
    font-weight: 600;
    padding-bottom: 2em;

}

.sd-container1-text{
    width: 80%;
    text-overflow: ellipsis;
    word-break: break-all;
    white-space: pre-wrap;
}
.sd-container1-pic{
    width: 50px;
    height: 50px;
    margin-left: 40px;
    /* padding-left: 30px; */
    border-radius: 500px;
    border: 1px solid rgba(128, 128, 128, 0.5);
}

.sd-container2{
    padding-left: 5px;
    border-bottom: 1px solid #dddddd;
    /* margin-bottom: 30px; */
}
.sd-container2-1{
    display: flex;
    margin-top: 20px;
}

.sd-container2-13{
    display: flex;
    margin-top: 20px;
    padding-bottom: 30px;
}

.sd-container2text{
    margin-left: 50px;
    font-size: 16px;
    line-height: 20px;
    color: #222222;
    font-weight: 600;
}


.sd-container3{
    padding-bottom: 30px;
    border-bottom: 1px solid #dddddd;
}
.sd-container4text{
    font-size: 22px;
    line-height: 26px;
    color: #222222;
    font-weight: 600;
    margin-top: 40px;
    margin-bottom: 20px;
}
.sd-container4_icon{
    height:140px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.sd-container4-feature{
    display: flex;
    margin: 10px 0;
}

.sd-container4-featuretext{
    margin-left: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #222222;
}

.sd__map__container{
    border-top: 1px solid rgba(128, 128, 128,0.3);
    /* max-width: fit-content; */
    margin: 0 15% ;
    margin-top: 7%;
    width: 70%;
    padding-bottom: 5%;
    border-bottom: 1px solid rgba(128, 128, 128,0.3);
    margin-bottom: 7%;

}

.sd__map_text{
    margin-top: 40px;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    color: #222222;
}

.sd__map_text_btm1{
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #222222;
}

.sd__map_text_btm1{

    margin-bottom: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #222222;
}
