
.wrapper {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between, first baseline;
    column-gap: 20px;
    width: 100%;
    height: 100%;
    padding-left: 15vh;
    /* padding-right: 10vh; */
    margin: auto;
    margin-top: 40px;
    vertical-align: top;
    margin-bottom: 40px;



    /* display: grid;
    grid-gap: var(--breakpoint-grid_row-gap,0) var(--breakpoint-grid_column-gap,0);
    grid-template-columns: var( --breakpoint-grid_column-template, repeat(var(--breakpoint-grid_columns,1),minmax(0,1fr)) );
    align-items: normal;
    justify-items: normal;
    align-content: normal;
    justify-content: normal; */
}

.card__container{
    /* overflow: hidden;
    box-shadow: 0 2px 20px gray;
    border-radius: 0.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 200ms ease-in; */

    /* box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* max-width: 20%; */
    /* min-width: 20%;
    padding: 10px;
    margin: 5px 10px 5px 10px; */

    /* display: grid;
    grid-gap: var(--breakpoint-grid_row-gap,0) var(--breakpoint-grid_column-gap,0);
    grid-template-columns: var( --breakpoint-grid_column-template, repeat(var(--breakpoint-grid_columns,1),minmax(0,1fr)) ); */
    /* float: left; */
}

.spotlistlink{
    text-decoration: none;
    width: 20%;
    height: auto;
}


.card__image{
    display: flex;
    height: 280px;
    width: 300px;
    /* margin: 5px; */
    border-radius: 15px;
    margin-top: 30px;
}

.card__des{
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: space-around;
    margin-top: 10px;

}

#card__des_1container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card__city{
    /* padding: 1rem; */
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;

}

#card__des_3container{
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    margin-top: 6px;
}

#card__des_3container span{
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #222222;

}

.card__price{
    /* margin-top: 10px; */
    font-weight: bold;
    /* padding: 1rem; */
    font-size: medium;
    margin-right: 5px;
}

.card__rating{
    display: flex;
    justify-content: flex-end;
    /* padding:  1.5rem; */
}

#card__ratingnum{
    margin-left: 5px;
}

#userspot-container{
    display: flex;
    /* height: 80vh; */
    /* flex-wrap: wrap; */
    flex-direction: column;
    justify-content: space-between, first baseline;
    row-gap: 5vh;
    width: 85%;
    height: auto;
    padding-left: 20vh;
    /* padding-right: 10vh; */
    margin: auto;
    margin-top: 50px;
    vertical-align: top;
    margin-bottom: 50px;
}

#userspot-listing{
    width: 80%;
    font-size:x-large;
    /* font-weight: 600; */
    padding-bottom: 1em;
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
}

#userspot__ind-container{
    display: flex;
    flex-direction: row;
   /* width: 20%;
   height: 40%; */
    /* height: 300px; */
    width: 80%;
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
}

#userspotimg__container img{
    height: 300px;
    width: 400px;
    /* margin: 5px; */
    border-radius: 15px;
}



#userspot__rightcontainer{
    display: flex;
    flex-direction: column;
    margin-left: 20vh;
    justify-content: space-around;
    /* text-decoration: none; */
}

#userspot__textline1{
    font-size: large;
    font-weight: bold;
    width: 20em;
}



.userspotbtn{
    /* border: 1px solid #7f7f7f; */
    padding: 6px;
    border-radius: 5px;
    border: none;
    background-color: #df1760;
    color: white;
    height: 3em;
    cursor: pointer;

}

.userspotbtn a{
    text-decoration: none;
    color: white;
}

.userspotdltbtn:hover{
    background: #7f7f7f;
}
