/* *,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: Oxygen, sans-serif;
    margin: 2rem;
}
*/
.wrapper {
    /* display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 15em;
    width: 15em;
    border: 4px solid rgb(19, 16, 16);
    border-radius: 10px;
    background-color: #322f2f;
    color: white; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between, first baseline;
    column-gap: 20px;
    width: 90%;
    margin: auto;
    margin-top: 40px;
    vertical-align: top;



    /* display: grid;
    grid-gap: var(--breakpoint-grid_row-gap,0) var(--breakpoint-grid_column-gap,0);
    grid-template-columns: var( --breakpoint-grid_column-template, repeat(var(--breakpoint-grid_columns,1),minmax(0,1fr)) );
    align-items: normal;
    justify-items: normal;
    align-content: normal;
    justify-content: normal; */
}

.card__container{
    /* overflow: hidden;
    box-shadow: 0 2px 20px gray;
    border-radius: 0.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 200ms ease-in; */

    /* box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* max-width: 20%; */
    /* min-width: 20%;
    padding: 10px;
    margin: 5px 10px 5px 10px; */

    /* display: grid;
    grid-gap: var(--breakpoint-grid_row-gap,0) var(--breakpoint-grid_column-gap,0);
    grid-template-columns: var( --breakpoint-grid_column-template, repeat(var(--breakpoint-grid_columns,1),minmax(0,1fr)) ); */
    /* float: left; */
}

.spotlistlink{
    text-decoration: none;
    width: 20%;
    height: auto;
}

.text__container{
    display: flex;
    flex-direction: column;
}

.card__image{
    display: flex;
    height: 240px;
    width: 300px;
    margin: 5px;
    border-radius: 12px;
    margin-top: 30px;
}

.card__des{
    display: flex;
    width: 300px;
    justify-content: space-between;
    margin: 0px 3px;

}

.card__city{
    /* padding: 1rem; */
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;

}

.card__price{
    margin-top: 10px;
    font-weight: bold;
    /* padding: 1rem; */
    font-size: medium;
}

.card__rating{
    display: flex;
    justify-content: end;
    /* padding:  1.5rem; */
}

.image__container {
    width: 280px;

}

.userspot__bottomcontainer{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    /* text-decoration: none; */
}

.userspot__container2{
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

.userspotbtn{
    border: 1px solid #7f7f7f;
    padding: 8px;
    border-radius: 5px;

}


.userspotdltbtn:hover{
    background: #7f7f7f;
}
