

.spotdetail__wrapper{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px; */
    width: 85%;
    margin: auto;
    margin-top: 40px;

}

.spotdetail__head{
    width: 100%;
    margin: 0 15%;
    width: 70%;
    display: flex;
    flex-direction: column;
}
.spotdetail__head1{
    font-size: 26px;
    font-weight: 600;
    font-style: normal;
    height: 30px;
    color: #222222;
    margin-bottom: 1em;

}

.spotdetail__head2 {
    display: flex;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    height: 20px;
    color: #222222;

}
#sd__image__container{
    height:30em;
    margin-bottom: 10em;
}

.sd__footerline2{
    margin: 0 5px 0 5px;
}

.sd__footerspace{
    margin-left: 5px;
}

.spot-image{
    border-radius: 20px;
    margin: 0 15%;
    width:70%;
    height: 34em;
    object-fit: contain;

}

#spotdetail__body{
    margin: 0 15%;
    display: flex;

}

#spotdetail__leftbody{
    width: 60%;
    display: flex;
    flex-direction: column;
}

#hosted{
    font-size: 22px;
    line-height: 26px;
    color: #222222;
    font-weight: 600;
    padding-bottom: 2em;
    border-bottom: 1px solid #dddddd;
}



#spotdes{
    padding-top: 2em;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #222222;

}

#spotdetail__rightbody{
    width: 40%;
    display: flex;
    justify-content: flex-end;
}

#sd-bookingbox{
    width: 80%;
    height: 400px;
    padding: 2em;
    border: 1px solid #dddddd;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#sd-boxhead{
     display: flex;
     justify-content: space-between;
     align-items: baseline;
     margin-bottom: 24px;
}

#sd-bookingprice{
    font-size: 22px;
    font-weight: 600;
    line-height: 26px;
    color: #222222;
    margin-right: 3px;
}

#sd-bookingnight{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #222222;
}

#sd-boxrating{
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    color: #222222;
    margin-left: 5px;
}

#sd-boxreviews{
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    color: #717171;
}

.fee-container{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 1em;
}

.fee-containertotal{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 3em;
    border-top: 1px solid #dddddd;
    padding-top: 3em;
}

.fee-containertext{
    font-weight: 400;
    line-height: 20px;
    font-size: 16px;
    color: #222222;
}

.fee-containertotaltext{
    font-weight: 600;
    line-height: 20px;
    font-size: 16px;
    color: #222222;
}

.sd__review__container{
    margin: 0 15% ;
    margin-top: 7%;
    width: 80%;
    border-top: solid #f7f7f7;
    margin-bottom: 7%;

}

#sd__ratinghead{
    display: flex;
    flex-direction: row;
    margin-top: 40px;

}

#spotreviewRating{
    position: relative;
    font-weight: 600;
    line-height: 26px;
    font-size: 22px;
    margin-bottom: 1em;
    font-family: Circular, -apple-system, BlinkMacSystemFont,  Roboto,   'Helvetica Neue', sans-serif;
}


#sd__image__container{
    display: grid;

}
