

.spotdetail__wrapper{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px; */
    width: 85%;
    margin: auto;

}

.spotdetail__head{
    display: flex;
    flex-direction: column;
}
.spotdetail__head1{
    font-size: 26px;
    font-weight: 600;
    font-style: normal;
    height: 30px;
    color: #222222;
    margin-bottom: 10px;

}

.spotdetail__head2 {
    display: flex;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    height: 20px;
    color: #222222;

}

.spot-image{
    border-radius: 20px;
    max-width: 500px;
}

.spotdetail__footer{
    margin-top: 30px;
    border-top: #f7f7f7 solid;
    /* border: #222222 solid; */
}

.sd__footer__block{
    float: left;
    width: 22%;
    /* list-style: inside; */
    font-size: 14px;
    font-style: normal;
    color: #222222;
    background-color: #f7f7f7;
    box-sizing: border-box;
    line-height: 18px;

}

.sd__footer__block_ul{
    list-style: none;
}

.sd__footer__block_li1{
    font-weight: bold;
    margin-bottom:  10px;
}

.sd__review__container{
    margin-top: 7%;
    border-top: solid #f7f7f7;

}
