.spotform__container {
    /* position: absolute; */
    /* transform: translate(-50%,-50%); */
    /* top: 10%;
    left: 50%;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 10%; */
    display: flex;
    flex-direction: row;
    /* background-color: aquamarine; */
  }

.leftspotform{
    flex-direction: column !important;
    width: 50% !important;
    height: 100vh !important;
    max-height: 100% !important;
    position: relative !important;
    float:left;
    justify-content: center !important;
    background: linear-gradient(#e66465, #9198e5);
    display: flex;


}

.spotform__head {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 50%; */
 color: white;
 line-height: 20px;
 height: 20px;
 text-align: center;
 font-size: 40px;
 padding-bottom: 5vh;
 padding-right: 2vh;
 /* margin-top: 300px; */
 background: none;
}

.rightspotform{
    flex-direction: column;
    width: 50% ;
    height: 100vh ;
    max-height: 100%;
    float: right;
    position: relative;
    z-index: 0;
    margin: 0, 10%;
}


.spotform__head{
  display: flex;
  justify-content: center;
  margin-top: 10px;
  line-height: 14px;
  height: 14px;

}

 .spotform__info {
    background: white;
    padding: 3em;
    /* height: 5px; */
    margin-right: 50%;
    float:right;
    width:30%;
    height: 100vh ;
    max-height: 100%;
    border-radius: 20px;

    text-align: center;
    z-index: auto;
    /* position: relative; */
    /* transition: all 0.2s ease-in-out; */
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }

  .spotforminput  {
    background: transparent;
    width: 50vh;
    height: 4vh;
    padding: 1em;
    margin-bottom: 2em;
    border: 1px solid gray;
    border-radius: 10px;
    backdrop-filter: blur(5px);

    color: black;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    max-height: fit-content;

  }

 .spotformerror{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  line-height: 10px;
  height: fit-content;
  width: max-content;
  /* float: left; */
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 18px;
  color: #e66465;
  /* font-size: 11px; */
  /* margin-left: 5px; */
 }

  .spotformbutton{
        display: flex;
        flex-direction: column;
        border: none;
        width: 50em;
        height: 10vh;
        font-size: 1rem;
        justify-content: space-between;
        align-items: flex-start;


  }

.spotformbutton__btn{
  display: flex;
  background-color: #e66465;
  width: 50vh;
  height: 4vh;
  cursor: pointer;
  color: aliceblue;
  border: none;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  margin-right: 3%;
  font-size: medium;
}

  ::placeholder {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    color: rgb(50, 50, 104);
    text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
  }
